@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-[#020921];
        font-family: "Inter", sans-serif;
    }
}

html::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

html::-moz-scrollbar {
    display: none;
}

